USE [master]
GO
/****** Object:  Database [QLLaptop]    Script Date: 1/21/2019 9:34:52 AM ******/
CREATE DATABASE [QLLaptop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLLT', FILENAME = N'D:\QLLT.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLLT_log', FILENAME = N'D:\QLLT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLLaptop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLLaptop]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 1/21/2019 9:34:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[MaAdmin] [int] IDENTITY(1,1) NOT NULL,
	[TenAdmin] [nvarchar](50) NULL,
	[DiaChiAdmin] [nvarchar](50) NULL,
	[SdtAdmin] [int] NOT NULL,
	[EmailAdmin] [nvarchar](50) NULL,
	[TenDNAdmin] [nvarchar](50) NULL,
	[MatKhauAdmin] [nvarchar](50) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[MaAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BINHLUAN]    Script Date: 1/21/2019 9:34:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BINHLUAN](
	[MaBL] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[NoiDung] [ntext] NULL,
	[TG] [smalldatetime] NULL,
 CONSTRAINT [PK_BINHLUAN] PRIMARY KEY CLUSTERED 
(
	[MaBL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTDON_HANG]    Script Date: 1/21/2019 9:34:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDON_HANG](
	[MaDH] [int] NOT NULL,
	[MaLaptop] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 0) NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGia]),
 CONSTRAINT [PK_CTDON_HANG] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC,
	[MaLaptop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DON_DAT_HANG]    Script Date: 1/21/2019 9:34:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DON_DAT_HANG](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
	[NgayDatHang] [smalldatetime] NULL,
	[NgayGiaoHang] [smalldatetime] NULL,
	[TriGiaDH] [decimal](18, 0) NULL,
	[PTTT] [nvarchar](50) NULL,
	[HTGH] [nvarchar](50) NULL,
 CONSTRAINT [PK_DON_DAT_HANG] PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 1/21/2019 9:34:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MaKH] [int] NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[NgaySinh] [smalldatetime] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [int] NULL,
	[Email] [varchar](50) NULL,
	[TenDN] [nvarchar](50) NULL,
	[MatKhau] [varchar](50) NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LAPTOP]    Script Date: 1/21/2019 9:34:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LAPTOP](
	[MaLaptop] [int] IDENTITY(1,1) NOT NULL,
	[TenLaptop] [nvarchar](50) NULL,
	[MaNSX] [int] NULL,
	[MaLoai] [int] NULL,
	[DonGia] [decimal](18, 0) NULL,
	[HinhMinhHoa] [varchar](50) NULL,
	[SoLuong] [int] NULL,
	[NoiDung] [ntext] NULL,
	[ManHinh] [ntext] NULL,
	[CPU] [ntext] NULL,
	[RAM] [ntext] NULL,
	[CauHinh] [ntext] NULL,
 CONSTRAINT [PK_Laptop] PRIMARY KEY CLUSTERED 
(
	[MaLaptop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHA_SAN_XUAT]    Script Date: 1/21/2019 9:34:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_SAN_XUAT](
	[MaNSX] [int] IDENTITY(1,1) NOT NULL,
	[TenNSX] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHA_SAN_XUAT] PRIMARY KEY CLUSTERED 
(
	[MaNSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHAN_LOAI]    Script Date: 1/21/2019 9:34:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHAN_LOAI](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHAN_LOAI] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TINTUC]    Script Date: 1/21/2019 9:34:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TINTUC](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[TenTT] [nvarchar](100) NULL,
	[TomTat] [ntext] NULL,
	[HinhMinhHoa] [varchar](50) NULL,
	[href] [ntext] NULL,
	[date] [ntext] NULL,
 CONSTRAINT [PK_TINTUC] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([MaAdmin], [TenAdmin], [DiaChiAdmin], [SdtAdmin], [EmailAdmin], [TenDNAdmin], [MatKhauAdmin]) VALUES (1, N'Trần Thành Trung', N'An Tây, Bến Cát', 969696789, N'trantrung@gmail.com', N'trungtran', N'12345')
INSERT [dbo].[Admin] ([MaAdmin], [TenAdmin], [DiaChiAdmin], [SdtAdmin], [EmailAdmin], [TenDNAdmin], [MatKhauAdmin]) VALUES (2, N'Châu Quốc Tuấn', N'Dĩ An, Bình Dương', 1234567890, N'chautuan@gmail.com', N'tuanchau', N'54321')
INSERT [dbo].[Admin] ([MaAdmin], [TenAdmin], [DiaChiAdmin], [SdtAdmin], [EmailAdmin], [TenDNAdmin], [MatKhauAdmin]) VALUES (3, N'1', N'1', 1, N'123@gmail.com', N'1', N'1')
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[BINHLUAN] ON 

INSERT [dbo].[BINHLUAN] ([MaBL], [TenKH], [NoiDung], [TG]) VALUES (1, N'trungtran', N'very good', CAST(0xA9D504D8 AS SmallDateTime))
INSERT [dbo].[BINHLUAN] ([MaBL], [TenKH], [NoiDung], [TG]) VALUES (2, N'trungtran', N'good', CAST(0xA9D504D9 AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[BINHLUAN] OFF
INSERT [dbo].[CTDON_HANG] ([MaDH], [MaLaptop], [SoLuong], [DonGia]) VALUES (19, 22, 2, CAST(42990000 AS Decimal(18, 0)))
INSERT [dbo].[CTDON_HANG] ([MaDH], [MaLaptop], [SoLuong], [DonGia]) VALUES (20, 23, 1, CAST(57900000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[DON_DAT_HANG] ON 

INSERT [dbo].[DON_DAT_HANG] ([MaDH], [MaKH], [TenKH], [DiaChi], [SDT], [Email], [NgayDatHang], [NgayGiaoHang], [TriGiaDH], [PTTT], [HTGH]) VALUES (19, 5, N'Trần Thành Trung', N'An Tây, Bến Cát', N'1212325475', N'trantrung@gmail.com', CAST(0xA9DA0000 AS SmallDateTime), CAST(0xA9DD0000 AS SmallDateTime), CAST(85980000 AS Decimal(18, 0)), N'Thanh toán trực tiếp', N'Giao hàng nhanh trong vòng 3 ngày:30000VND')
INSERT [dbo].[DON_DAT_HANG] ([MaDH], [MaKH], [TenKH], [DiaChi], [SDT], [Email], [NgayDatHang], [NgayGiaoHang], [TriGiaDH], [PTTT], [HTGH]) VALUES (20, 5, N'Trần Thành Trung', N'An Tây, Bến Cát', N'1212325475', N'trantrung@gmail.com', CAST(0xA9DC0000 AS SmallDateTime), CAST(0xA9DF0000 AS SmallDateTime), CAST(57900000 AS Decimal(18, 0)), N'Thanh toán qua thẻ ATM', N'Giao hàng nhanh trong vòng 3 ngày:30000VND')
SET IDENTITY_INSERT [dbo].[DON_DAT_HANG] OFF
INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [NgaySinh], [DiaChi], [SDT], [Email], [TenDN], [MatKhau]) VALUES (1, N'Nguyễn Thanh Tùng', CAST(0x8C290000 AS SmallDateTime), N'An Tây, Bến Cát', 1256789022, N'nguyentung@gmail.com', N'tungnguyen', N'12345')
INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [NgaySinh], [DiaChi], [SDT], [Email], [TenDN], [MatKhau]) VALUES (2, N'Nguyễn Tùng Thanh', CAST(0x8C0C0000 AS SmallDateTime), N'An Tây, Bến Cát', 1213361231, N'nguyenthanh@gmail.com', N'thanhnguyen', N'12345')
INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [NgaySinh], [DiaChi], [SDT], [Email], [TenDN], [MatKhau]) VALUES (3, N'Phạm Văn Chung', CAST(0x8BD20000 AS SmallDateTime), N'Bình Phước', 1243455563, N'phamcung@gmail.com', N'chungpham', N'12345')
SET IDENTITY_INSERT [dbo].[LAPTOP] ON 

SET IDENTITY_INSERT [dbo].[LAPTOP] OFF
SET IDENTITY_INSERT [dbo].[NHA_SAN_XUAT] ON 

INSERT [dbo].[NHA_SAN_XUAT] ([MaNSX], [TenNSX], [DiaChi]) VALUES (1, N'Acer', N' Bình Dương')
INSERT [dbo].[NHA_SAN_XUAT] ([MaNSX], [TenNSX], [DiaChi]) VALUES (2, N'Asus', N'Dĩ An, Bình Dương')
INSERT [dbo].[NHA_SAN_XUAT] ([MaNSX], [TenNSX], [DiaChi]) VALUES (3, N'Dell', N'Dĩ An, Bình Dương')
SET IDENTITY_INSERT [dbo].[NHA_SAN_XUAT] OFF
SET IDENTITY_INSERT [dbo].[PHAN_LOAI] ON 

INSERT [dbo].[PHAN_LOAI] ([MaLoai], [TenLoai]) VALUES (1, N'Laptop cao cap')
INSERT [dbo].[PHAN_LOAI] ([MaLoai], [TenLoai]) VALUES (2, N'Laptop gaming')
INSERT [dbo].[PHAN_LOAI] ([MaLoai], [TenLoai]) VALUES (3, N'Laptop pho thong')
SET IDENTITY_INSERT [dbo].[PHAN_LOAI] OFF
SET IDENTITY_INSERT [dbo].[TINTUC] ON 

INSERT [dbo].[TINTUC] ([STT], [TenTT], [TomTat], [HinhMinhHoa], [href], [date]) VALUES (3, N'REVIEW GALAX RTX 2070 EX 1 CLICK SERIES', N'	Giới thiệu chung -	Năm nay, Galax đã quay đem trở lại dòng sản phẩm EX với 2 đại diện chính là EX 1 Click OC và EX 1 Click OC Gamer. Nếu như dòng ...', N'Capture1.PNG', N'https://www.anphatpc.com.vn/review-san-pham/review-galax-rtx-2070-ex-1-click-series_idtin4958.html', N'Nov  1 2019  5:54PM')
SET IDENTITY_INSERT [dbo].[TINTUC] OFF
ALTER TABLE [dbo].[CTDON_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDON_HANG_DON_DAT_HANG] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DON_DAT_HANG] ([MaDH])
GO
ALTER TABLE [dbo].[CTDON_HANG] CHECK CONSTRAINT [FK_CTDON_HANG_DON_DAT_HANG]
GO
ALTER TABLE [dbo].[CTDON_HANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDON_HANG_Laptop] FOREIGN KEY([MaLaptop])
REFERENCES [dbo].[LAPTOP] ([MaLaptop])
GO
ALTER TABLE [dbo].[CTDON_HANG] CHECK CONSTRAINT [FK_CTDON_HANG_Laptop]
GO
ALTER TABLE [dbo].[DON_DAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_DAT_HANG_KHACH_HANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[DON_DAT_HANG] CHECK CONSTRAINT [FK_DON_DAT_HANG_KHACH_HANG]
GO
ALTER TABLE [dbo].[LAPTOP]  WITH CHECK ADD  CONSTRAINT [FK_Laptop_NHA_SAN_XUAT] FOREIGN KEY([MaNSX])
REFERENCES [dbo].[NHA_SAN_XUAT] ([MaNSX])
GO
ALTER TABLE [dbo].[LAPTOP] CHECK CONSTRAINT [FK_Laptop_NHA_SAN_XUAT]
GO
ALTER TABLE [dbo].[LAPTOP]  WITH CHECK ADD  CONSTRAINT [FK_Laptop_PHAN_LOAI] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[PHAN_LOAI] ([MaLoai])
GO
ALTER TABLE [dbo].[LAPTOP] CHECK CONSTRAINT [FK_Laptop_PHAN_LOAI]
GO
USE [master]
GO
